!!!
%html
  %head
    %title Sinatra Haml Mongo
    %link{:type => "text/css", :rel=> "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"}
    %link{:type => "text/css", :rel=> "stylesheet", :href => "/css/styles.css"}

  %body
    .container
      .jumbotron
        %h1 H1 in the layout
        = yield
        %script{:type => "text/javascript", :src => "/js/lib/jquery-3.1.1.min.js"}
        %script{:type => "text/javascript", :src => "/js/scripts/app.js"}
